body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background: #e3f2fd;
    font-family: Arial, sans-serif;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}